@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
::selection {
	background: rgba(27, 163, 95, 0.7);
}
::-moz-selection {
	background: rgba(27, 163, 95, 0.7);
}
body {
	background-color: rgb(41, 35, 27);
	margin: 0;
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}

header {
	background-color: rgba(27, 163, 95, 0.7);
	width: 100%;
	padding: 20px;
	position: fixed;
	top: 0;
	z-index: 100;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

nav {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 105px;
}
dialog {
	width: 60vw;
	border-style: solid;
	border-radius: 10px;
	border-color: rgb(0, 65, 32);
	background: rgb(44, 33, 9);
	background-image: url('/imgs/backgroundimage.png');
	color: bisque;
}
dialog::backdrop {
	background: rgba(44, 33, 9, 0.6);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
.header-text {
	color: bisque;
}

.para-text {
	color: bisque;
}

.header-logo {
	width: 128px;
	height: auto;
	transition: all 300ms ease-in-out;
}

.header-logo:hover {
	scale: 1.2;
}

.button-link {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	background-color: transparent;
	color: black;
	font-weight: 700;
	border-radius: 10px;
	padding: 12px 80px;
	width: fit-content;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.button-link:hover {
	scale: 1;
	color: bisque;
	background-color: rgba(0, 65, 32, 1);
}
.image-container {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.project-pic {
	width: 50%;
	height: auto;
	transition: all 300ms ease-in-out;
	margin: 0 auto;
	cursor: pointer;
}
.project-pic:hover {
	scale: 1.2;
}
.martin-colors {
	display: flex;
	align-items: center;
	justify-content: center;
}
.projcolor-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.individual-color {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.color-swatch {
	border: 2px solid bisque;
	border-radius: 5px;
	height: 30px;
	width: 30px;
}
.title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.close-button {
	border: none;
	color: rgba(27, 163, 95, 0.7);
	background: transparent;
	outline: none;
	font-size: 25px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	user-select: none;
}
.close-button:hover {
	color: rgba(47, 233, 140, 0.7);
}
.company-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: row;
}
.martin-logo {
	width: 250px;
	height: auto;
}
.martin-mockup {
	width: 400px;
	height: auto;
}
form {
	margin-top: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 2px solid rgba(0, 65, 32, 1);
	border-radius: 10px;
}

form > label {
	color: bisque;
}

form > input {
	outline: none;
	padding: 8px 12px;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}

form > textarea {
	outline: none;
	padding: 8px 12px;
	border-radius: 10px;
	border: none;
	min-height: 100px;
	font-size: 18px;
}

form > button {
	font-size: 18px;
	background-color: rgba(0, 65, 32, 1);
	color: bisque;
	font-weight: 700;
	border-radius: 10px;
	padding: 12px 0;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	border: none;
	width: 100%;
}

form > button:hover {
	color: bisque;
	background-color: rgba(0, 65, 32, 0.84);
}

@media screen and (max-width: 768px) {
	/* .para-text {
		color: green;
	} */
	dialog {
		width: 75vw;
	}
}
